body {
    background-color: #E12800;
    color: silver;
    text-align: center;
    font-family: fantasy, "Times New Roman", Times, serif;
}

header {
    
}

section {
    width: 80%;
    margin: 10px auto;
}

.song {
    width: 30%;
    margin: 10px auto;
    border: 2px solid #aaa;
    background-color: #E12800;
}

input {
    display: block;
    margin: 5px auto;
}

.hidden {
    display: none;
}
